 


@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb.woff2') format('woff2'),
    url('../fonts/IRANSansWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: vazir;
}

::-webkit-input-placeholder {
    font-family: vazir;
}
::-moz-placeholder {
    font-family: vazir;
}
:-ms-input-placeholder {
    font-family: vazir;
}
::placeholder {
    font-family: vazir;
}

.md-typeset{
    text-align: justify;
}

.md-typeset img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
